<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
          <assemblies>
            <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          </assemblies>
        </compilation>
    </system.web>

<connectionStrings>
  <add name="RssEntities" connectionString="metadata=res://*/RssModel.csdl|res://*/RssModel.ssdl|res://*/RssModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;attachdbfilename=|DataDirectory|\RSSAgregatorDB.mdf;integrated security=True;connect timeout=10;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="..\wcfLog.svcLog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    <system.serviceModel>
      <!--<extensions>
        <behaviorExtensions>
          <add name="silverlightFaults"
               type="RssWCF.Web.SilverlightFaultBehavior, 
             SilverlightFaultBehavior, 
             Version=1.0.0.0, 
             Culture=neutral, 
             PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>-->
        <behaviors>
            <serviceBehaviors>
                <behavior name="RssServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                  <!--<silverlightFaults/>-->
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
          <basicHttpBinding>
            <binding name="RssServiceBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binding>
          </basicHttpBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <services>
            <service name="RssWCF.Web.RssService" behaviorConfiguration="RssServiceBehavior">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="RssServiceBinding" contract="RssWCF.Web.IRssService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
